/*
-----------------------------------------
Google Fonts Style
-----------------------------------------
*/
@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic|Maven+Pro:400,700,500,900);
*{
	font-family: 'Maven Pro', arial, sans-serif;
}
/*
-----------------------------------------
General body elements
-----------------------------------------
*/

body{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.container{
	width:60%;
}

h2{
	font-family: 'Quattrocento Sans', arial, sans-serif;
	text-transform:uppercase;
}

.col-lg-2{
	margin-top:15px;
}

.col-lg-2 button{
	float:right;
}

/*
-----------------------------------------
form elements
-----------------------------------------
*/
.form-signin {
  padding: 15px;
  max-width:100%;
}

.form-signin .form-signin-heading{
  margin-bottom: 10px;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*
-----------------------------------------
table elements
-----------------------------------------
*/

.table{
	background-color:#fff;
}

#errorMessage {
	padding:4px;
	background-color:rgb(247, 206, 213);
	border:1px solid rgb(247, 9, 9);
	margin-top:10px;
	text-align:center;
}

#successMessage {
	padding:4px;
	background-color:rgb(170, 235, 126);
	border:1px solid rgb(3, 68, 16);
	margin-top:10px;
	text-align:center;
}

.rounded{
	-webkit-border-radius: 5px;
	-moz-border-radius : 5px;
	border-radius : 5px;
}










